.row-fluid
	.restaurant-grid
		-@restaurants.each_with_index do |r, i|
			.restaurant-tile
				= image_tag(@list[r.name])
				-if !(r.ratings).blank?
					.restaurant-title-container 
						%h1.restaurant-title
							= link_to "#{r.name}", restaurant_path(r)
				-else 
					.restaurant-title-container.with-rating
						%h1.restaurant-title
							= link_to "#{r.name}", restaurant_path(r)
						%p.rating #{r.average_rating} / 5.0