-if !(@header_img).blank?
  %div.header-img
    = image_tag(@header_img)

.container 
  .row-fluid
    .span8.offset2
      %div{:class => !(@header_img).blank? ? "content with-header-img" : "content"}
        %h1= @restaurant.name
        %p= @yelp["location"]["display_address"].join(",")
        %h2 Ratings
        %p Yelp Rating: #{@yelp["rating"]} / 5.0
        -if @restaurant.ratings.blank?
          %p Be the first to rate this happy hour!
        -else
          %p Happy Hour Rating: #{@restaurant.average_rating} / 5.0
        -if user_signed_in?
          %p Happy Hour Rating:
          = form_for(rating_ballot, :html => { :class => 'rating_ballot' }) do |f|
            .control-group
              .controls
                %label.radio.inline
                  = radio_button_tag("rating", 1, current_user_rating == 1, :class => 'rating_button')
                  1
                %label.radio.inline
                  = radio_button_tag("rating", 2, current_user_rating == 2, :class => 'rating_button')
                  2
                %label.radio.inline
                  = radio_button_tag("rating", 3, current_user_rating == 3, :class => 'rating_button')
                  3
                %label.radio.inline
                  = radio_button_tag("rating", 4, current_user_rating == 4, :class => 'rating_button')
                  4
                %label.radio.inline
                  = radio_button_tag("rating", 5, current_user_rating == 5, :class => 'rating_button')
                  5
                = hidden_field_tag("restaurant_id", @restaurant.id)
            %div.control-group
              .controls
                = f.submit(:Rate, :class => 'btn')
        -else
          = link_to "Login to rate this restaurant's happy hour.", '/auth/facebook/'

        -if user_signed_in?
          = link_to "Share on Facebook",
            {:controller => :restaurants, :action => :share_link, :link => request.fullpath, :id => @restaurant.id},
            {:id => @restaurant.id}
        %h2 Happy Hour Reviews
        -if @restaurant.reviews.blank?
          %p Be the first to review!
        -else
          %ul
            -@restaurant.reviews.each do |review|
              %li
                =review.review
        %h3 Yelp Reviews
        %ul
          -@yelp["reviews"].each do |review|
            %li
              #{review["excerpt"]}
        -if user_signed_in?
          = form_for @review do |f|
            .control-group
              = f.label 'review', "Been here before? Leave a review!"
              .controls
                = f.text_area('review', :class => 'span12', :rows => 4)
                = hidden_field_tag("restaurant_id", @restaurant.id)
            = f.submit(:Review, :class => 'btn')
        -else 
          %p= link_to "Login to leave a review", "/auth/facebook"
