-if !(@header_img).blank?
  %div.header-img
    = image_tag(@header_img)

.container 
  .row-fluid
    .span8.offset2
      %div{:class => !(@header_img).blank? ? "content with-header-img" : "content"}
        = render 'layouts/messages'
        %h1= @restaurant.name
        %p= @yelp["location"]["display_address"].join(",")
        %h2 Ratings
        %p Yelp Rating: #{@yelp["rating"]} / 5.0
        -if @restaurant.ratings.blank?
          %p Be the first to rate this happy hour!
        -else
          %p Happy Hour Rating: #{@restaurant.average_rating} / 5.0
        %p.button-container
          -if user_signed_in?
            = content_tag(:a, "Rate this restaurant!", :href => "#ratingModal", :class => 'btn', :data => {:toggle => 'modal'}) 
          -else
            = link_to "Login to rate this restaurant's happy hour.", '/auth/facebook/'

        -if user_signed_in?
          = content_tag('div', :class => 'hide fade modal', :id => 'ratingModal', :role => 'dialog', :tabindex => -1, "aria-labelledBy" => "ratingModalLabel", "aria-hidden" => "true") do
            .modal-header
              %h3#ratingModalLabel= "Rate #{@restaurant.name}"
              = form_for(rating_ballot) do |f|
                .modal-body
                  .controls
                    %label.radio.inline
                      = radio_button_tag("rating", 1, current_user_rating == 1, :class => 'rating_button')
                      1
                    %label.radio.inline
                      = radio_button_tag("rating", 2, current_user_rating == 2, :class => 'rating_button')
                      2
                    %label.radio.inline
                      = radio_button_tag("rating", 3, current_user_rating == 3, :class => 'rating_button')
                      3
                    %label.radio.inline
                      = radio_button_tag("rating", 4, current_user_rating == 4, :class => 'rating_button')
                      4
                    %label.radio.inline
                      = radio_button_tag("rating", 5, current_user_rating == 5, :class => 'rating_button')
                      5
                    = hidden_field_tag("restaurant_id", @restaurant.id)
                .modal-footer
                  = content_tag(:button, 'Close', :class => 'btn', :data => {:dismiss => 'modal'}, "aria-hidden" => 'true')  
                  = f.submit(:Rate, :class => 'btn btn-primary')
        %h2 Happy Hour Reviews
        -if @restaurant.reviews.blank?
          %p Be the first to review!
        -else
          %ul.happy-review-list
            -@restaurant.reviews.each do |review|
              %li
                #{review.user.name} - 
                =review.review
        %p.button-container
          -if user_signed_in?
            = content_tag(:a, "Leave a review!", :href => "#reviewModal", :class => 'btn', :data => {:toggle => 'modal'})
          -else 
            %p= link_to "Login to leave a review", "/auth/facebook"

        = content_tag('div', :class => 'hide fade modal', :id => 'reviewModal', :role => 'dialog', :tabindex => -1, "aria-labelledBy" => "reviewModalLabel", "aria-hidden" => "true") do
          .modal-header
            %h3#reviewModalLabel= "Review #{@restaurant.name}"
          = form_for @review do |f|
            .modal-body
              .control-group
                = f.label 'review', "Been here before? Leave a review!"
                .controls
                  = f.text_area('review', :class => 'span12', :rows => 4)
                  = hidden_field_tag("restaurant_id", @restaurant.id)
            .modal-footer
              = content_tag(:button, 'Close', :class => 'btn', :data => {:dismiss => 'modal'}, "aria-hidden" => 'true')  
              = f.submit(:Review, :class => 'btn btn-primary')
        %h3 Yelp Reviews
        %ul.yelp-review-list
          -@yelp["reviews"].each do |review|
            %li
              #{review["excerpt"]}
        -if user_signed_in?
          %div
            = link_to "Tell your friends about #{@restaurant.name}",
              {:controller => :restaurants, :action => :share_link, :link => request.fullpath, :id => @restaurant.id, :class => 'btn'},
              {:id => @restaurant.id}
        
          
        